<!DOCTYPE html>
<html lang="pt-BR" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="text/javascript"> alert("Usuario cadastrado") </script> -->
    <title>Cadastro</title>
</head>
<body>
    <script type="text/javascript">
        var mensagem = '{{ mensagem }}'
        if(mensagem != ""){
            alert (mensagem)
            if(mensagem == "Sucesso"){
                window.location.href="/"
            }
            if (mensagem == "Acesso negado")
                window.location.href= "/cadastro"
        }
    </script>
    <div class="container">
        <img src="/static/image/logo.jpg" alt="Logo">
        <h2>Cadastre-se</h2>
        <form action="/validacao_cadastro" method="post">
            <input type="text" name="nome" placeholder="Nome" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="senha" placeholder="Senha" minlength="8" required>
            
            <button type="submit" id="button">Enviar</button>
        </form>
        <a href="/" id="acesso">Já possui uma conta? Clique aqui.</a>
    </div>
</body>
</html>