<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>
<script type="text/javascript">
    var mensagem = '{{ mensagem }}'
    if(mensagem != ""){
        alert (mensagem)
        if(mensagem == "Acesso negado! (Usuário e ou senha inválidos)"){
            window.location.href="/"
        }
    }
</script>
<body>
    <div class="container">
        <img src="/static/image/logo.jpg" alt="Logo">
        <h2>Login</h2>
        <form action="/validacao_login" method="post">
            <input type="text" name="email" placeholder="Email" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit" id="button">Entrar</button>
        </form>
        <a href="/cadastro" id="acesso">Cadastre-se aqui.</a>
    </div>
    <br>
</body>
</html>