<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="/static/css/principal.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="text-center">
    <h1 class="mt-5">Página Principal</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <a href="/glossario" class="btn btn-primary">
                    <img src="/static/image/glossario.jpg" alt="Glossário" class="img-fluid">
                    <p id="descri"><strong>Glossário</strong></p>
                </a>
            </div>
            <div class="col">
                <a href="/atividades" class="btn btn-primary">
                    <img src="/static/image/atividade.jpg" alt="Lista de Atividades" class="img-fluid">
                    <p id="descri" ><strong>Lista de Atividades</strong></p>
                </a>
            </div>
            <div class="col">
                <a href="/sobre" class="btn btn-primary">
                    <img src="/static/image/sobre nos.jpg" alt="Sobre Nós" class="img-fluid">
                    <p id="descri" ><strong>Sobre nós</strong></p>
                </a>
            </div>
        </div>
    </div>
    <a href="/" class="btn btn-primary" id="botao_sair">
        Sair
    </a>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
