<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/sobrenos.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página sobre Sistemas para Internet</title>
    <!-- links do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="container">
        <h1>Sistemas para Internet</h1>

        <p>
            Sistemas para Internet é uma área fascinante que envolve o desenvolvimento e manutenção de sistemas
            voltados para a web. Esses sistemas desempenham um papel crucial na comunicação e interação online.
        </p>
        <div>
                <br>
            <div>
            <h2>Usuários</h2>
                <div>
                    <details id = "lista_style">
                        <summary class="h5">
                            <img src="/static/image/aquila.jpeg" alt="Usuário 2" class="mr-2"> 
                            Áquila Daniel
                        </summary>
                        <div>
                            <hr>
                            <ul>
                                <li><strong>Idade:</strong> 27 anos.</li>
                                <li><strong>Hobbies:</strong> Música, Jogos, Livros, Ficção Científica e Filmes.</li>
                                <li><strong>Escolaridade:</strong> Graduado em Engenharia Mecânica, Cursando Sistemas para Internet.</li>
                                <li><strong>Objetivo:</strong> Estou buscando por alcançar o crescimento profissional almejado no ramo
                                    da programação.</li>
                                <li><strong>Git-Hub:</strong> <a href="https://github.com/D1L3L" target="_blank">D1L3L</a></li>
                                <hr>
                            </ul>
                            <hr>
                        </div>
                    </details>
                </div>
            </div>
            <br>
            <div>
                <details>
                    <summary class="h5">
                        <img src="/static/image/caio.jpeg" alt="Usuário 2" class="mr-2"> 
                        Caio Enrique
                    </summary>
                    <div>
                        <hr>
                        <ul>
                            <li><strong>Idade:</strong> 27 anos</li>
                            <li><strong>Hobbies:</strong> Ler livros, jogos, fotografia, filmes, música e acompanhar Fórmula 1</li>
                            <li><strong>Escolaridade:</strong> Graduado em Engenharia Civil</li>
                            <li><strong>Objetivo:</strong> Criar aplicações web abrangentes, envolvendo tanto o desenvolvimento frontend quanto backend. Isso inclui a criação de interfaces interativas e responsivas usando tecnologias como React ou Flask. </li>
                            <li><strong>Git-Hub:</strong> <a href="https://github.com/caioenriquena" target="_blank"> caioenriquena</a></li>
                            <hr>
                        </ul>
                        <hr>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary class="h5">
                        <img src="/static/image/julio.jpg" alt="Usuário 2" class="mr-2"> 
                        Júlio Silva
                    </summary>
                    <div>
                        <hr>
                        <ul>
                            <li><strong>Idade:</strong> 36 anos</li>
                            <li><strong>Hobbies:</strong> Música, acompanhar esportes principalmente fultebol e Fórmula 1, assistir séries, filmes e documentários. </li>
                            <li><strong>Escolaridade:</strong> Formação em Comunicação Social (Jornalismo) na Universidade Federal da Paraiba. </li>
                            <li><strong>Objetivo:</strong> Agregar novos conhecimentos e em breve fazer uma transição de carreira.</li>
                            <li><strong>Git-Hub:</strong> <a href="https://github.com/JulioVSilva" target="_blank"> Júlio Silva</a></li>
                            
                            <hr>
                        </ul>
                        <hr>
                    </div>
                </details>
            </div>
            <br>
            <div>
                <details>
                    <summary class="h5">
                        <img src="/static/image/kevin.jpeg" alt="Usuário 2" class="mr-2"> 
                        Kevin Kilmer
                    </summary>
                    <div>
                        <hr>
                        <ul>
                            <li><strong>Idade:</strong> 21 anos</li>
                            <li><strong>Hobbies:</strong> </li>
                            <li><strong>Escolaridade:</strong> Graduada em Design Digital</li>
                            <li><strong>Objetivo:</strong> Criar interfaces intuitivas e atraentes</li>
                            <li><strong>Git-Hub:</strong> <a href="https://github.com/Kkilmer" target="_blank"> Kkilmer</a></li>
                            <li><strong>Git-Hub:</strong> <a href="https://github.com/Kkilmer" target="_blank"> Kkilmer</a></li>
                            <hr>
                        </ul>
                        <hr>
                    </div>
                </details>
            </div>
        </div>
        <!-- Adicione mais usuários conforme necessário -->
    </div>
    <a href="/principal" class="btn btn-primary" id="botao_retorno">
                Retornar
        </a>
</body>
</html>
